.round {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*#intro{
    width: 100%; 
    height: 10%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
}*/

.stretch {
    width:100%;
    height:100%;
}

.grid-container-experience {
  display: inline-grid;
  grid-column-gap: 50px;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-container {
  display: inline-grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}



