.round {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.headshot{
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
}


body {
	background-color: black;
}

h1{
  color:lightblue;
}

h4{
  color:white;
}

.grid-item{
  color:white;
}

.stretch {
    width:100%;
    height:100%;
}

.grid-container-experience {
  display: inline-grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-container {
  display: inline-grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

li {
    display: inline;
    padding: 40px;
}

h2 {
  display: inline;
  position: relative;
  font: 100px Lucida Sans Unicode, Sans-Serif;
  letter-spacing: -5px;
  color: rgba(0,0,255,0.5); 
}

h2:after {
  content: "Mishcat Ibrahim";
  position: absolute; left: 0px; top: 5px;
  color: rgba(255,0,0,0.5);   
}


.contact{
  float:bottom;
}
